---
const { children } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth Check</title>
  <style>
    #content-container {
      display: none; /* Masquer le contenu initialement */
    }
    #loading {
      text-align: center;
      margin: 20px;
    }
  </style>
</head>
<body>
  <div id="loading">Loading...</div>
  <div id="content-container">
    <slot></slot>
  </div>
  <script src="/thotify/sidebar-dynamic.js" type="module"></script>
  <script src="/src/scripts/checkAuth.js" type="module"></script>

</body>
</html>
