

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thotify</title>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
    </aside>
    <main>
      <slot/>
    </main>
  </div>
  <script src="/thotify/sidebar-dynamic.js" type="module"></script>
</body>
</html>
